<div id="frame" class="ui-sortable">
    <div class="parentOfBg">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
            <tbody>
                <tr>
                    <td align="center">
                        <table class="display-width" width="680" cellspacing="0" cellpadding="0" border="0" bgcolor="#f6f6f6"
                            align="center">
                            <tbody>
                                <tr>
                                    <td align="center">
                                        <table class="display-width-inner" width="600" cellspacing="0" cellpadding="0"
                                            border="0" align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="height30" height="50"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; width:auto;"
                                                            width="8%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center">
                                                                        <table style="width:auto !important;"
                                                                            cellspacing="0" cellpadding="0" border="0"
                                                                            align="center">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="hide-height" height="11"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="center">
                                                                                        <h1>
                                                                                            <%=SITE_NAME%>
                                                                                        </h1>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="hide-height" height="11"></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table style=" border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"
                                                            width="1" cellspacing="0" cellpadding="0" border="0" align="left">
                                                            <tbody>
                                                                <tr>
                                                                    <td height="15"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="height30" height="50"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
        <tbody>
            <tr>
                <td align="center">
                    <table class="display-width" width="680" cellspacing="0" cellpadding="0" border="0" bgcolor="#f6f6f6"
                        align="center">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <table class="display-width-inner" style="border-top-left-radius:5px;border-top-right-radius:5px;"
                                        width="600" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div style="margin:auto;">
                                                        <table class="display-width" style="background-color: #FCD76C; background-position: center center; background-repeat: no-repeat;"
                                                            width="100%" cellspacing="0" cellpadding="0" border="0"
                                                            background="600x160x1.jpeg" align="center">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center">
                                                                        <table class="display-width" width="100%"
                                                                            cellspacing="0" cellpadding="0" border="0"
                                                                            align="center">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="MsoNormal header-font"
                                                                                        style="color:#ffffff; font-family:'Segoe UI',sans-serif,Arial,Helvetica,Lato; font-size:60px; font-weight:300; line-height:70px; letter-spacing:0.025em; padding:45px 0;"
                                                                                        align="center">
                                                                                        Thank you!
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
        <tbody>
            <tr>
                <td align="center">
                    <table class="display-width" width="680" cellspacing="0" cellpadding="0" border="0" bgcolor="#f6f6f6"
                        align="center">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <table width="600" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff"
                                        align="center">
                                        <tbody>
                                            <tr>
                                                <td class="height30" height="50"></td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"
                                                        width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                                                        <tbody>
                                                            <tr>
                                                                <td class="padding" align="center">
                                                                    <table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"
                                                                        width="90%" cellspacing="0" cellpadding="0"
                                                                        border="0" align="center">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="MsoNormal" style="color:#888888; font-family:'Segoe UI',sans-serif,Arial,Helvetica,Lato; font-size:15px; font-weight:400; line-height:24px;">Your
                                                                                    password has been reset. Please
                                                                                    login with your new password.
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="30"></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td height="30"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="MsoNormal" style="color:#888888; font-family:'Segoe UI',sans-serif,Arial,Helvetica,Lato; font-size:15px; font-style:italic; font-weight:400; line-height:24px;">

                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="height30" height="50"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
        <tbody>
            <tr>
                <td align="center">
                    <table width="680" cellspacing="0" cellpadding="0" border="0" bgcolor="#f6f6f6" align="center">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <table class="display-width-inner" width="600" cellspacing="0" cellpadding="0"
                                        border="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td height="30"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0"
                                                        align="center">
                                                        <tbody>
                                                            <tr>
                                                                <td class="MsoNormal" style="color:#888888; font-family:'Segoe UI',sans-serif,Arial,Helvetica,Lato; font-size:15px; font-weight:400; line-height:24px; letter-spacing:0.025em;"
                                                                    align="center">
                                                                    Copyright &copy;
                                                                    <%= (new Date()).getFullYear() %>, All rights
                                                                    reserved
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="height30" height="50"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>