<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <!-- <label class="font-w-400 margin-t-10 appDesc">Descriptions about Blocks of Parenting in details to the children </label> -->
    <title>
        <%=SITE_NAME%>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/bbp.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 margin-t-30">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- <img src="http://34.225.80.141:6565/images/bbp_icon.png" class="col-md-6 col-sm-7  col-xs-6  appImg padding-r-0 smallDevice"> -->
                        <div class="col-md-6 col-sm-5 col-xs-6 appHead smallDevice">
                            <label class="margin-t-30 appTitle">
                                <%=SITE_NAME%></label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <form method="POST" id="resetPassForm" class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 form-container"
                        action="<%= actionUrl%>">
                        <input type="hidden" name="sVerificationToken" value="<%= sVerificationToken %>">
                        <div class="form-group col-sm-12 margin-t-30 ">
                            <input type="password" name="sNewPassword" id="sNewPassword" class="form-control inputCss"
                                required>
                            <label class="form-control-placeholder" for="nPassword">New Password</label>
                            <div id="checkNPassword"></div>
                        </div>
                        <div class="form-group col-sm-12 margin-t-30">
                            <input type="password" name="sNewRetypedPassword" id="sNewRetypedPassword" class="form-control inputCss"
                                required>
                            <label class="form-control-placeholder" for="sNewRetypedPassword">Retype Password</label>
                            <div id="checkRNPassword"></div>
                        </div>
                        <div class="form-group margin-t-30">
                            <div class="col-md-offset-3 col-md-6 text-center margin-t-30">
                                <button type="submit" id="savePass" class="btn saveBtnCss" sty>SAVE MY PASSWORD</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="text-center" id="server-response"></div>
            </div>
        </div>
    </div>
</body>

</html>